@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* link to color pallet https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: #0d1b2a;
}

.display-3 {
  margin-top: 75px;
}


.row {
  padding: 10px 10px;
}

.img-fluid {
  margin: 5px;
  z-index:1;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #5bc0de;
}

.custom-toggler.navbar-toggler {
  border-color: #0d1b2a;
  border:3px;
}

.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13,202,240)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}