@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* link to color pallet https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd */
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: #0d1b2a;
}

.display-3 {
  margin-top: 75px;
}

.row {
  padding: 10px 10px;
}

.img-fluid {
  margin: 5px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #5bc0de;
}
